
<%- include('header'); -%>
  <div class="box" id="heading">
    <h1><%= listTitle %></h1>
  </div>

  <div class="box">

    <!-- To add a new list item from the client side -->
    <!-- <li><%= whatIsNew %></li> -->
    <%for (let i = 0; i < whatIsNew.length; i++) { %>
    <div class="item">
      <input type="checkbox">
      <p> <%= whatIsNew[i] %> </p>
    </div>


    <%} %>

    <form name="whatToDo" class="item" action="/" method="post">
      <input type="text" name="newToDo" placeholder="Enter activity" autocomplete="off">
    <!-- we embed client enetered values into our button using the listTitle -->
      <button type="submit" name="list" value= <%= listTitle %> >+</button>
    </form>
  </div>

<%- include('footer'); -%>
