<%- include('partials/header'); -%>
<h1>Home</h1>
<p><%= homeIntro %></p>


<!-- %-->

<div class="">
  <!--content is a random name given to the function by me -->
  <% postByClientToHome.forEach((content) => { %>
  <% let bodyLength = 100 %>
  <% let endingMarks = "..." %>
  <h1><%= content.postTitle %></h1>
  <p>
    <%= (content.postBody).substring(0, bodyLength - endingMarks.length)+"... " %>
    <a href="/posts/<%=content.postTitle%>">Read More</a>
  </p>
  <%}); %>
</div>



<%postByClientToHome.forEach((content) => {%>
  <% let bodyLength = 100 %>
  <% let endingMarks = "..." %>
  <div class="row">
    <div class="">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h1 class="card-title"><%= content.postTiltle %></h1>
          <p class="card-text">
            <%= (content.postBody).substring(0, bodyLength - endingMarks.length)+"... " %>
            <a href="/posts/<%=content.postTitle%>" class="btn btn-primary" > Read More </a>
          </p>
          <%});%>
        </div>
      </div>
    </div>
  </div>

  <%postByClientToHome.forEach((content) => {%>
    <% let bodyLength = 100 %>
    <% let endingMarks = "..." %>
    <div class="row">
  <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 px-md-5 rounded">
              <div>
                <h6 class="pink-text">
                  <i class="fas fa-chart-pie"></i>
                  <strong> Marketing</strong>
                </h6>
                <h3 class="py-3 font-weight-bold">
                  <strong><%= content.postTiltle %></strong>
                </h3>
                <p class="pb-3">
                  <%= (content.postBody).substring(0, bodyLength - endingMarks.length)+"... " %>
                </p>
                <%});%>
                <a class="btn btn-pink btn-rounded btn-md waves-effect waves-light"><i class="fas fa-clone left"></i> View project</a>
              </div>
            </div>

<%- include('partials/footer'); -%>
